<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd ">

    <!-- Define application service beans here -->
    
    <bean id="clogInstanceService" class="com.covisint.platform.clog.server.cloginstance.impl.ClogInstanceServiceImpl" c:dao-ref="clogInstanceDao" c:groupServiceWrapper-ref="groupServiceWrapper" c:elasticSearchServiceWrapper-ref="elasticSearchServiceWrapper" />
    <bean id="groupServiceWrapper" class="com.covisint.platform.clog.server.wrapper.GroupServiceWrapper" c:newGroupClient-ref="groupClient" c:newGroupEntitlementClient-ref="groupEntitlementClient"/>
    <bean id="elasticSearchServiceWrapper" class="com.covisint.platform.clog.server.wrapper.ElasticSearchServiceWrapper" c:httpClientWrapper-ref="httpClientWrapper" c:elasticSearchUrl="${es.aliasUrl}" c:indexName="${es.es_indexname:cov_logs}"/>
    <bean id="httpClientWrapper" class="com.covisint.platform.clog.server.wrapper.HttpClientWrapper" c:httpClient-ref="httpClient"/>

</beans>